 * {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font: inherit;
   border: 0;
   outline: none;
   color: inherit;
   font-family: 'Roboto', sans-serif;
 }

 header {
   margin-top: 80px;
 }

 a {
   text-decoration: none;
 }

 header ul {
   display: flex;
   align-items: center;
   gap: 42px;
 }

 header li {
   display: flex;
   align-items: center;
   color: #000;
   font-size: 16px;
   font-weight: 400;
   line-height: 164.063%;
   /* 26.25px */
   letter-spacing: 1.6px;
   text-transform: uppercase;
 }

 header li.active {
   color: var(--accent, #34547A);
   font-size: 16px;
   font-weight: 500;
   line-height: 164.063%;
   /* 26.25px */
   letter-spacing: 1.6px;
   text-transform: uppercase;
 }

 .sec1 {
   background: #EEEFF1;
   padding: 80px 16px 140px;
 }

 .container {
   max-width: 1100px;
   margin: 0 auto;
 }

 h1 {
   margin: 150px 0 60px;
   font-size: 48px;
   font-weight: 500;
   line-height: 164%;
 }

 .sec1 p {
   max-width: 540px;
   margin-bottom: 65px;
   color: #727272;
   font-size: 16px;
   font-weight: 400;
   line-height: 164.063%;
   /* 26.25px */
 }

 button {
   background: #34547A;
   width: 100%;
   max-width: 225px;
   color: #ffffff;
   font-size: 16px;
   line-height: 1.64;
   letter-spacing: 2px;
   padding: 19px 41px 20px;
   display: block;
 }

 .sec2 {
   background: #F9F9F9;
   padding: 110px 0;
 }

 .sec2 h2 {
   color: #000;
   text-align: center;
   font-size: 32px;
   font-weight: 500;
   margin-bottom: 50px;
 }

 .sec2 p {
   color: #727272;
   text-align: center;
   font-size: 16px;
   font-weight: 400;
   line-height: 164.063%;
   /* 26.25px */
   max-width: 540px;
   margin: 0 auto;
 }

 .sec3 {
   background: var(--accent, #34547A);
   padding: 100px 0;
   color: white;
 }

 .sec3 h5 {
   font-size: 21px;
   font-weight: 500;
 }

 .sec3 p {
   font-size: 16px;
   font-weight: 400;
   line-height: 164.063%;
   /* 26.25px */
 }

 .sec3 ul {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 50px;
 }

 .sec3 li {
   display: flex;
   gap: 20px;
   align-items: center;
 }

 .sec4 {
   background: var(--silver, #EEEFF1);
   padding: 100px 0;
 }

 .sec4 h2 {
   color: #000;
   text-align: center;
   font-size: 32px;
   font-weight: 500;
 }

 .sec4 p {
   color: #727272;
   text-align: center;
   font-size: 16px;
   font-weight: 400;
   line-height: 164.063%;
   /* 26.25px */
   max-width: 540px;
   margin: 50px auto 60px;
 }

 .wpaper {
   width: 100%;
   max-width: 1100px;
   height: 600px;
   position: relative;
 }

 iframe {
   width: 100%;
   max-width: 1100px;
   height: 600px;
 }

 .play-btn {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   z-index: 1;
 }

 footer {
   background: var(--accent, #34547A);
   padding: 50px 0;
 }

 footer h3 {
   color: #FFF;
   font-size: 21px;
   font-weight: 500;
   margin-bottom: 20px;
 }

 footer p {
   color: #FFF;
   font-size: 13px;
   font-weight: 400;
   line-height: 164.063%;
   /* 21.328px */
 }